html, body {
  position: absolute;
  background: #1d7ca7;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

.page {
  background: #1d7ca7;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.side-page {
  background: #1d7ca7;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  overflow: hidden;
}

.text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: sans-serif;
}

.text-large {
  font-size: 6em;
}

.text-regular {
  font-size: 4em;
}

.text-hidden {
  color: #2d8db8;
}

.scroll {
    overflow-y: scroll;
}

.white {
  background: #1d7ca7;
  color: white;
}

.option {
  height: 22%;
  background: #1d7ca7;
  color: white;
}

.select-option {
  height: 22%;
  background: #1d7ca7;
  color: white;
}

.selected {
  background: #2fa4d9;
}

.title-button {
  height: 22%;
  background: #2d8db8;
  color: white;
}

.stage-left {
  transform: translate(-100%, 0);
  transition: 1s ease-in-out;
}

.stage-reset {
  transform: translate(0%, 0);
  transition: 1s ease-in-out;
}

.title-box {
  height: 20%;
  background: #2d8db8;
  color: white;
  padding: 1em;
}

.list-box {
  height: 80%;
}

.help-box {
  background: #1c9cd6;
  border: 10px solid #1c9cd6;
  border-radius: 15px;
}

input[type=text] {
  width: 50%;
  font-size: 2em;
  text-align: center;
  display: inline-block;
}
